# Configuración de la base de datos
DATABASE_URL="postgresql://username:password@localhost:5432/ruralket"

# Puerto del servidor
PORT=3001

# API Key de OpenAI
OPENAI_API_KEY="tu_api_key_de_openai_aqui"

# JWT Secret
JWT_SECRET="tu_jwt_secret_aqui"
